name: Trigger auto deployment for nola-dev-backend

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/nola-dev-backend-AutoDeployTrigger-56d11fd3-6c85-4fec-bf0f-df478866e6ff.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.NOLADEVBACKEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.NOLADEVBACKEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.NOLADEVBACKEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: hub.docker.com
          registryUsername: ${{ secrets.NOLADEVBACKEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.NOLADEVBACKEND_REGISTRY_PASSWORD }}
          containerAppName: nola-dev-backend
          resourceGroup: nola-rg
          imageToBuild: hub.docker.com/nola-dev-backend:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


